<div class="lg:ms-48 mt-10 ">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 text-green-500 font-medium rounded-lg inline-block mb-10" id="notice"><%= notice %></p>
  <% end %>
  <% if UserRubyMethod.where(user_id: current_user).present? %>
    <h1 class="font-bold text-4xl">クイズ設定</h1>

    <%= form_with url: "/quiz/show", method: :get, local: true do |form| %>
      <p class="font-bold mt-6 mb-8 text-2xl">選んだ条件からクイズが出題されます</p>
      <div class="my-2 flex flex-col text-xl">
        <label class="mb-1"><%= form.radio_button :quiz_mode, "not_yet", {checked: true, class:"me-1" } %>まだ挑戦してないメソッドから出題する</label>
        <span class="mb-4"><%= not_challenged_methods_count %></span>
        <label class="mb-1"><%= form.radio_button :quiz_mode, "no", class:"me-1" %>まだ分かっていないメソッドから出題する</label>
        <span class="mb-4"><%= not_remembered_methods_count %></span>
        <label class="mb-1"><%= form.radio_button :quiz_mode, "yes", {class:"me-1"  } %>分かっているメソッドから出題する</label>
        <span class="mb-4"><%= remembered_methods_count %></span>

      </div>

      <div><%= form.submit "クイズスタート", class: "btn btn-info mt-4 quiz-button" %></div>
      <div><%= link_to 'メソッド一覧へ', user_ruby_methods_path, class: "btn btn-sm mt-7" %></div>
    <% end %>
  <% elsif %>
    <div class="text-start">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <h1 class="font-bold text-4xl mt-20">Rubyクイズ!</h1>
      <div class="">
        <h2 class="font-bold text-2xl mt-8">初めまして！こんにちは😊</h2>
        <h2 class="font-bold text-2xl mt-3">これから、知っておいた方が良いRubyのメソッドを</h2>
        <h2 class="font-bold text-2xl mt-3">クイズで出題します😊</h2>
        <h2 class="font-bold text-2xl mt-3 mb-10 ">公式サイトで確認しながら、正しく理解していきましょう！</h2>
        <div><%= link_to 'クイズに挑戦する', quiz_show_path, class: "btn btn-info" %></div>
      </div>
    </div>
  <% end %>
</div>
