<div class="lg:ms-48">
  <% if notice.present? %>
    <p class="py-2 px-3 mb-5 bg-green-50 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% if UserRubyMethod.where(user_id: current_user).present? %>
    <h1 class="font-bold text-4xl">出題設定</h1>

    <%= form_with url: "/quiz/show", method: :get, local: true do |form| %>
      <p class="font-bold mt-6 mb-8 text-2xl">選んだ条件から出題されます</p>
      <div class="my-2 flex flex-col text-xl">
        <label class="mb-1"><%= form.radio_button :quiz_mode, "not_challenged", {checked: true, class:"me-1" } %>挑戦してないメソッドから出題する</label>
        <span class="mb-4"><%= not_challenged_methods_count %></span>
        <label class="mb-1"><%= form.radio_button :quiz_mode, "not_remembered", class:"me-1" %>分からなかったメソッドから出題する</label>
        <span class="mb-4"><%= not_remembered_methods_count %></span>
        <label class="mb-1"><%= form.radio_button :quiz_mode, "remembered", {class:"me-1"  } %>分かっていたメソッドから出題する</label>
        <span class="mb-4"><%= remembered_methods_count %></span>
      </div>
      <%= form.submit "START", class: "btn btn-info mt-4 quiz-button" %>
    <% end %>
    <div><%= link_to 'メソッド一覧へ', user_ruby_methods_path, class: "btn btn-sm mt-7" %></div>
<% elsif %>
    <div class="text-start">
      <h1 class="font-bold text-4xl mt-5">Rubyフラッシュカードへようこそ！</h1>
      <div class="">
        <h2 class="text-2xl mt-8">初めまして！こんにちは😊</h2>
        <h2 class="text-2xl mt-3">会員登録してくれてありがとうございます🙇‍</h2>
        <h2 class="text-2xl mt-3">これからRubyのメソッドをフラッシュカード形式で出題します😊</h2>
        <h2 class="text-2xl mt-3 mb-10 ">公式サイトで確認しながら、正しく理解していきましょう！</h2>
        <div><%= link_to 'START', quiz_show_path, class: "btn btn-lg btn-info" %></div>
      </div>
    </div>
  <% end %>
</div>
