<header class="flex justify-between h-auto text-white items-center">
  <% if current_user %>
    <div class="items-center">
      <%= link_to embedded_svg("logo_vertical.svg", alt: "ã‚¢ãƒ—ãƒªã®ãƒ­ã‚´ç”»åƒ", class: "md:w-32 h-16"), root_path, class:"text-3xl ms-2 mt-2 hidden md:inline-block" %>
      <%= link_to embedded_svg("logo_vertical.svg", alt: "ã‚¢ãƒ—ãƒªã®ãƒ­ã‚´ç”»åƒ", class: "w-16 h-18 mb-8 ms-3"), root_path, class:"ms-2 mt-2 md:hidden" %>
    </div>
    <div class="me-5 flex items-center">
      <%= link_to "ç®¡ç†è€…ç”¨ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ä¸€è¦§",ruby_modules_path, class:"me-5" if current_user.admin %>
      <%= link_to "ç®¡ç†è€…ç”¨ãƒ¡ã‚½ãƒƒãƒ‰ä¸€è¦§", ruby_methods_path,class:"me-5"  if current_user.admin %>
      <%= link_to "ãƒ¡ã‚½ãƒƒãƒ‰ä¸€è¦§", user_ruby_methods_path,class:"ms-5 me-4 md:me-5" if current_user.challenged_ruby_methods.present? %>
      <%= link_to "ãƒ•ãƒ©ãƒƒã‚·ãƒ¥ã‚«ãƒ¼ãƒ‰ã«æŒ‘æˆ¦", new_flash_card_path,class:"me-5 hidden md:inline-block" %>
      <%= link_to "å•é¡Œã‚’è§£ã", new_flash_card_path,class:"me-3 md:hidden" %>
      <div class="mt-3">
        <label tabindex="0" class="user-icon cursor-pointer"><%= image_tag(current_user.image, class: "w-12 h-12 md:w-16 md:h-16 rounded", alt: "ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®ç”»åƒ") %></label>
        <div class="tooltip tooltip-left" data-tip="æœ€å¤§Lv.<%= RubyMethod.count %>ã«å‘ã‘ã¦é ‘å¼µã‚ã†!">
          <span>Lv.<%= UserRubyMethod.where(user_id: current_user, remembered: true).count %>ðŸ”¥</span>
        </div>
      </div>
    </div>
  <% end %>
</header>
