<header class="flex justify-between bg-red-800 h-auto text-white items-center">
  <% if current_user %>
    <div class=" items-center">
      <%= link_to image_tag("logo.png", alt: "ã‚¢ãƒ—ãƒªã®ãƒ­ã‚´ç”»åƒ", class: "w-24 md:w-32 h-12 inline-block"), root_path, class:"text-3xl ms-5 mt-2" %>
    </div>
    <div class="me-5 flex items-center">
      <%= link_to "ç®¡ç†è€…ç”¨ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ä¸€è¦§",ruby_modules_path, class:"me-5" if current_user.admin %>
      <%= link_to "ç®¡ç†è€…ç”¨ãƒ¡ã‚½ãƒƒãƒ‰ä¸€è¦§", ruby_methods_path,class:"me-5"  if current_user.admin %>
      <%= link_to "ãƒ¡ã‚½ãƒƒãƒ‰ä¸€è¦§", user_ruby_methods_path,class:"me-5" if current_user.challenged_ruby_methods.present? %>
      <%= link_to "ãƒ•ãƒ©ãƒƒã‚·ãƒ¥ã‚«ãƒ¼ãƒ‰ã«æŒ‘æˆ¦", new_flash_card_path,class:"me-5 hidden md:inline-block" %>
      <div class="dropdown dropdown-bottommb mt-3 me-12">
        <label tabindex="0" class="user-icon cursor-pointer"><%= image_tag(current_user.image, size: "60x62",  alt: "ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®ç”»åƒ") %></label>
        <div class="tooltip tooltip-bottom" data-tip="æœ€å¤§Lv.<%= RubyMethod.count %>ã«å‘ã‘ã¦é ‘å¼µã‚ã†!">
          <span>Lv.<%= UserRubyMethod.where(user_id: current_user, remembered: true).count %>ðŸ”¥</span>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box text-black">
          <li><%= button_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ',logout_path, method: :delete, data: { turbo: false } if user_signed_in? %></li>
        </ul>
      </div>
    </div>
  <% end %>
</header>
