<div class="">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 text-green-500 font-medium rounded-lg inline-block my-10 text-center lg:ms-96" id="notice"><%= notice %></p>
  <% end %>
  <div class="bg-red-800 h-96">
    <div class="flex justify-center pt-7"><%= image_tag("logo.png", alt: "アプリのロゴ画像", class: "w-48 md:w-48 h-24") %></div>
    <h1 class="font-bold text-5xl text-center pt-5 mb-5 text-white">Rubyのメソッドを効率良く学ぼう</h1>
    <div class="flex justify-center mt-1">
      <%= button_to "利用開始",'/users/auth/github', class: "rounded-lg btn-warning btn-lg mt-2 font-bold w-48 md:w-48 text-2xl" %>
    </div>
    <p class="text-2xl mt-3 text-center text-white">利用にはGitHubアカウントが必要です</p>
  </div>

  <div class="mt-6 lg:ms-48 ">
    <h2 class="text-3xl text-center mt-3 mb-5 font-bold lg:me-48 top-reason-title relative">効率良く学べる理由</h2>
    <h3 class="text-2xl">1. 「学習効率」の良いクラスから「<%= RubyMethod.count %>問の厳選された」メソッドで確実にレベルアップ！</h3>
    <div class="flex justify-start mt-3">
      <ul class="max-w-md space-y-1 list-disc list-inside text-xl text-gray-600	lg:ms-5">
        <% RubyModule.all.each do |ruby_module| %>
          <li><%= ruby_module.name %></li>
        <% end %>
      </ul>
    </div>
    <h3 class="text-2xl mt-8 mb-4">2. 分からないメソッドの公式ドキュメントが、タブを移動せずその場で確認でき、オンラインエディターですぐ試すことができる！</h3>
    <%= image_tag("main_feature.png") %>
    <h3 class="text-2xl mt-8 mb-1">3. ３種類の出題設定で効率よく学べる(復習もラクラク♪)</h3>
    <%= image_tag("config.png") %>
    <h3 class="text-3xl mb-1 mt-5 font-bold">さあ、最大Lvに向けて頑張ろう！</h3>
    <%= image_tag("user_level.png") %>
    <p class="text-gray-600">※コンテンツの改良により最大Lvは日々変化します</p>
    <div class="flex flex-col justify-center mt-1">
      <%= button_to "GitHubアカウントでログイン",'/users/auth/github', data: { turbo: false }, class: "text-gray-700 rounded-lg btn-lg btn-info mt-2 font-bold" %><br>
    </div>
  </div>
</div>
