<div id="<%= dom_id ruby_method %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">メソッド名:</strong>
    <%= ruby_method.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">親モジュール名:</strong>
    <%= ruby_method.ruby_module.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Official url:</strong>
    <a href="<%= ruby_method.official_url %>" class="text-blue-600">URL</a>
  </p>

  <% if action_name != "show" %>
    <%= link_to "詳細", ruby_method, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium show-ruby-method" %>
    <%= link_to '編集', edit_ruby_method_path(ruby_method), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium edit-ruby-method" %>
    <hr class="mt-6">
  <% end %>
</div>
