<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">rubyのメソッド一覧</h1>
    <%= link_to '共通のrubyのメソッドを追加', new_ruby_method_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= search_form_for @search, url: ruby_methods_path do |f| %>
    <div class="flex justify-between items-center ">
      <div class='label-select'>
        <p class="mb-1 mt-2">モジュール名で絞り込む</p>
        <label><%= f.radio_button :ruby_module_name_eq, '',class:"me-1" %>全て</label>
        <%= f.collection_radio_buttons(:ruby_module_name_eq, RubyModule.all, :name, :name) do |b| %>
          <%= b.radio_button %>
          <%= b.label class: "me-1" %>
        <% end %>
      </div>
    </div>
    <div class="flex justify-between items-center mt-3">
      <div class='label-select'>
        <p class="mb-1 font-bold">メソッド名で絞り込みも追加</p>
        <%= f.text_field :name_cont,class:"block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    </div>
    <%= f.submit "検索", class:"btn btn-sm btn mt-2 mb-5" %>
  <% end %>

  <div id="ruby_methods" class="min-w-full">
    <%= render @ruby_methods %>
  </div>

  <div class="flex justify-start">
    <%= paginate @ruby_methods %>
  </div>
</div>
