<% content_for(:html_title) { 'フラッシュカード設定 - Rubyフラッシュカード ' } %>
<div class="flex flex-col justify-center">
  <% if notice.present? %>
    <p class="py-2 px-3 mt-8 text-green-500 font-medium rounded-lg inline text-center" id="notice"><%= notice %></p>
  <% end %>
  <% if UserRubyMethod.where(user_id: current_user).present? %>
    <h1 class="font-bold text-4xl mt-8 mb-16 config-title relative flex justify-center">フラッシュカード出題設定</h1>

    <%= form_with url: flash_card_path, method: :get, local: true,class: "flex justify-center" do |form| %>
      <div class="my-2 flex flex-col  text-xl ">
        <label class="mb-1 cursor-pointer"><%= form.radio_button :quiz_mode, "not_challenged", {checked: true, class:"me-1" } %>挑戦してないメソッドから出題する</label>
        <span class="mb-4 ms-5"><%= not_challenged_methods_count %></span>
        <label class="mb-1 cursor-pointer"><%= form.radio_button :quiz_mode, "not_remembered", class:"me-1" %>分からなかったメソッドから出題する</label>
        <span class="mb-4 ms-5"><%= not_remembered_methods_count %></span>
        <label class="mb-1 cursor-pointer"><%= form.radio_button :quiz_mode, "remembered", {class:"me-1"  } %>分かっているメソッドから出題する</label>
        <span class="mb-4 ms-5"><%= remembered_methods_count %></span>
        <%= form.submit "出題開始", class: "ms-5 bg-red-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>
  <% elsif %>
    <div class="text-start">
      <h1 class="font-bold text-4xl mt-5">Rubyフラッシュカードへようこそ</h1>
      <div>
        <p class="text-2xl mt-8">初めまして！こんにちは😊</p>
        <p class="text-2xl mt-3">会員登録してくれてありがとうございます。</p>
        <p class="text-2xl mt-3">これからRubyのメソッドをフラッシュカード形式で出題します。</p>
        <p class="text-2xl mt-3 mb-10 ">公式サイトで確認しながら、正しく理解していきましょう！</p>
        <%= link_to 'START！', flash_card_path, class: "btn btn-lg btn-info font-bold" %>
      </div>
    </div>
  <% end %>
</div>
