<!DOCTYPE html>
<html>
  <head>
    <title>RubyQuiz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags 'application'  %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="display flex justify-around">
      <% if current_user %>
        <%= link_to image_tag("logo.png", alt: "ãƒ­ã‚´", class: "w-32 h-20"), root_path,class:"text-3xl ms-5 mt-2" %>
        <%= link_to "ãƒ¡ã‚½ãƒƒãƒ‰ä¸€è¦§", user_ruby_methods_path,class:" mt-9" if registered_user_ruby_method? %>
        <%= link_to "ç®¡ç†è€…ç”¨ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ä¸€è¦§",ruby_modules_path, class:" mt-9" if current_user.admin %>
        <%= link_to "ç®¡ç†è€…ç”¨ãƒ¡ã‚½ãƒƒãƒ‰ä¸€è¦§", ruby_methods_path,class:" mt-9"  if current_user.admin %>
        <%= link_to "ã‚¯ã‚¤ã‚ºã«æŒ‘æˆ¦ã™ã‚‹", quiz_new_path,class:" mt-9" %>
        <div class="dropdown dropdown-bottommb mt-5">
          <!--          <label tabindex="0" class="m-1 user-icon"><%#= image_tag(current_user.image, size: "60x62") if current_user.image %></label>-->
          <label tabindex="0" class="user-icon"><%= image_tag('https://avatars.githubusercontent.com/u/54713809?v=4', size: "60x62") %></label>
          <div class="tooltip tooltip-bottom" data-tip="æœ€å¤§Lv.<%= RubyMethod.count %>ã«å‘ã‘ã¦é ‘å¼µã‚ã†ðŸ’ª">
            <span>Lv.<%= UserRubyMethod.where(user_id: current_user, remembered: true).count %>ðŸ”¥</span>
          </div>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box">
            <li><%= button_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ',logout_path, method: :delete, data: { turbo: false } if user_signed_in? %></li>
          </ul>
        </div>
      <% end %>
    </header>
    <main class="container m-auto max-w-5xl mt-5 px-5 flex">
      <%= yield %>
    </main>
    <footer class="is-size-7 mt-auto">
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
