<%= form_with(model: user_ruby_method, class: "contents") do |form| %>
  <% if user_ruby_method.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user_ruby_method.errors.count, "error") %> prohibited this user_ruby_method from being saved:</h2>

      <ul>
        <% user_ruby_method.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="font-bold text-1xl mt-5">メソッド名</p>
  <p class="font-bold text-2xl">
    <%= @user_ruby_method.ruby_method.ruby_module.name %>#<%= @user_ruby_method.ruby_method.name %>
  </p>

  <%= form.hidden_field :ruby_method_id, :value => @user_ruby_method.ruby_method.id %>

  <div class="my-5">
    <%= form.label :memo %>
    <%= form.text_area :memo, rows: 7, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <p class="font-bold text-xl text-blue-600 underline mb-5"><a target=”_blank” href="<%= @user_ruby_method.ruby_method.official_url %>">公式で確認する</a></p>

  <div class="inline">
    <%= form.submit "更新する", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
