<%= form_with(model: user_ruby_method, class: "contents") do |form| %>
  <% if user_ruby_method.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user_ruby_method.errors.count, "error") %> prohibited this user_ruby_method from being saved:</h2>

      <ul>
        <% user_ruby_method.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="font-bold text-1xl mt-5">メソッド名</p>
  <p class="font-bold text-2xl">
    <%= @user_ruby_method.ruby_method.ruby_module.name %>#<%= @user_ruby_method.ruby_method.name %>
  </p>

  <%= form.hidden_field :ruby_method_id, :value => @user_ruby_method.ruby_method.id %>

  <div class="my-5">
    <%= form.label :memo,class: "font-bold" %>
    <%= form.text_area :memo, rows: 9, class: "block border-2 rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-5/6" %>
  </div>

  <p id="open-official-url" class="font-bold text-xl text-blue-800 underline mb-5 cursor-pointer">
    公式サイトで確認する
  </p>
  <div id="<%= user_ruby_method.ruby_method.name %>-url" class="hidden flex flex-col mb-5">
    <iframe
      class="w-5/6 h-96 mt-3"
      src="<%= user_ruby_method.ruby_method.official_url %>"></iframe>
    <div class="mt-3">
      <a href="<%= user_ruby_method.ruby_method.official_url %>" class="text-blue-700 underline text-xl mt-3">公式リファレンス</a>
    </div>
  </div>

  <div class="inline mt-5">
    <%= form.submit "更新する", class: "rounded-lg py-3 px-5 bg-white hover:bg-gray-100 border-2 inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const openOfficialUrl = document.getElementById("open-official-url");
    const methodName = "<%= user_ruby_method.ruby_method.name %>-url" <%# erblint:disable ErbSafety %>

    const iframe = document.getElementById(methodName);
    openOfficialUrl.addEventListener("click", () => {
      iframe.classList.toggle("hidden");
    });
  });
</script>
