<div class="method-item mb-12 border border-slate-200 border-2 rounded-lg py-3 px-4 mb-4" id="<%= dom_id user_ruby_method %>">
  <div class="flex justify-between mb-3">
    <div>
      <p class=" me-3">
        <%= user_ruby_method.ruby_method.ruby_module.name %>
      </p>
    </div>
    <div class="flex justify-end">
      <p>
        <%= link_to '✏️', edit_user_ruby_method_path(user_ruby_method), class: "text-xl w-13 mx-1 leading-15 me-5" %>
      </p>
      <p class=" mt-1 badge p-3 text-white <%= remembered_badge_color(user_ruby_method) %>">
        <%= convert_remembered_word(user_ruby_method) %>
      </p>
    </div>
  </div>

  <p id="<%= user_ruby_method.ruby_method.name %>" class="text-blue-900 underline text-2xl cursor-pointer">
    <%= user_ruby_method.ruby_method.name %>
  </p>
  <div id="<%= user_ruby_method.ruby_method.name %>-url" class="hidden">
    <iframe
      id="officialSite"
      class="w-full h-96 mt-3 border-solid border-2 border-gray-100"
      src="<%= user_ruby_method.ruby_method.official_url %>"></iframe>
    <div class="flex justify-end">
      <a href="<%= user_ruby_method.ruby_method.official_url %>" class="text-blue-700 underline text-xl mt-3">公式リファレンスへ
      </a>
    </div>
  </div>

  <% if user_ruby_method.memo %>
    <p class="my-5">
      <%= add_new_line(user_ruby_method.memo) %>
    </p>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const methodName = document.getElementById("<%= user_ruby_method.ruby_method.name %>"); <%# erblint:disable ErbSafety %>

    const iframe = document.getElementById("<%= user_ruby_method.ruby_method.name %>-url"); <%# erblint:disable ErbSafety %>

    methodName.addEventListener("click", () => {
      iframe.classList.toggle("hidden");
    });
  });
</script>
