<% content_for(:html_title) { 'メソッド一覧 - Rubyフラッシュカード ' } %>
<h1 class="mb-10 mt-10 font-bold text-2xl lg:text-3xl methods-title relative flex justify-center">メソッド一覧</h1>
<div class="flex justify-center mb-10">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex flex-col">
    <%= search_form_for @search, url: user_ruby_methods_path do |f| %>
      <div class="mt-3">
        <div class='flex flex-col justify-center label-select'>
          <p class="mb-1">学習の進捗で絞り込む</p>
          <div>
            <label class="cursor-pointer"><%= f.radio_button :remembered_eq, '',class:"me-1" %>全て</label>
            <label class="cursor-pointer"><%= f.radio_button :remembered_eq, true,class:"me-1" %>分かっている</label>
            <label class="cursor-pointer"><%= f.radio_button :remembered_eq, false,class:"me-1" %>分からなかった</label>
          </div>
        </div>
      </div>
      <div class=" ">
        <div class='flex flex-col justify-center label-select'>
          <p class="mb-1 mt-2">カテゴリーで絞り込む</p>
          <div class="">
            <label class="cursor-pointer"><%= f.radio_button :ruby_method_ruby_module_name_eq, '',class:"me-1" %>全て</label>
            <%= f.collection_radio_buttons(:ruby_method_ruby_module_name_eq, RubyModule.all, :name, :name, class:"cursor-pointer") do |b| %>
              <%= b.radio_button %>
              <%= b.label class: "me-1 cursor-pointer" %>
            <% end %>
          </div>
        </div>
      </div>
      <%= f.submit "検索", class:"btn btn-sm btn mt-2 mb-5" %>
    <% end %>

    <% if @user_ruby_methods.present? %>
      <div class="min-w-full">
        <%= render @user_ruby_methods %>
      </div>

      <div class="flex justify-start">
        <%= paginate @user_ruby_methods %>
      </div>
    <% else %>
      <div>
        <p class="text-2xl mt-10">検索条件に合致したメソッドは見つかりませんでした。‍</p>
        <p class="text-2xl mt-1">もう一度条件の見直しをお願い致します。‍</p>
      </div>
    <% end %>
  </div>
</div>
